$font: 'sfu_futura_book', Arial, sans-serif;
$font_h: 'sfu_futuraheavy', Arial, sans-serif;
$font_b: 'sfu_futurabold', Arial, sans-serif;
$font_c: 'corpoa_vnregular', sans-serif;
$font_o:  'Open Sans', sans-serif;
$donker: #000;
$red: #d11920;
$yellow: #fee053;
$green: #a1c60d;



$purple: #4A2075;
$org: #f68b1f;
